<div class="row">
  <div class="large-3 large-offset-1 columns"><%= i.label :content, "->" %></div>
  <div class="large-8 columns"><%= i.text_field :content %> <%= i.link_to_remove "delete" %></div>
</div>
