<h1>Recipes</h1>

<p>
  <ul>
    <li>Create a recipe</li>
    <li>Create a shopping list</li>
    <li>Drag and drop recipes into the list, automatically lists ingredients</li>
  </ul>
</p>

<p>
  <%= link_to "Create a recipe!", new_recipe_path, class: "button radius" %>
</p>
